<!DOCTYPE html>
<html>
  <head>
    <title>ads-botchat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Index</h1>
    <p>Welcome to index MAGGLE</p>
    <ul>
      <li><a href="/login/auth/google">Login</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/logout">Logout</a></li>
  </ul>
  </body>
</html>