<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>ads-botchat</title>
</head>
<body>
    <div id="app">
        <h1>Users, welcome {{name}}</h1>
        <div class="create-ads">
            <form id="createAds">
                <label for="text">Text de votre ad</label>
                <input type="text" v-model="text">
                <label for="image">Url de votre image</label>
                <input type="url" v-model="image">
                <label for="url">Url de la pub</label>
                <input type="url" v-model="url">
                <button @click="recordAds">Créer</button>
            </form>
        </div>
        <div class="my-ads">
            
        </div>
    </div>
<script>
    var app = new Vue({
    el: '#app',
    data: {
        name: '<%- name %>',
        googleIdid: '<%- googleId %>',
        text: "",
        image: "",
        url: "",
    },
    methods: {
        recordAds(){

        }
    }
    })
</script>
</body>
<script src="/javascripts/recordAds.js"></script>
</html>
